:root {
  --gray: #808080;
  --yellow: #E6DE8A;
  --tur-blue: #61A3B3;
  --dark-blue: #677C8C;
  --light-gray: #B3B1A1;
}

.nav {
  background-color: #61A3B3;
}

.today-info {
  background-color: gray;
  color: aliceblue;
}

.forecast-card {
  background-color: var(--dark-blue);
  color: aliceblue;
}

.today-info h2 {
  font-size: 2.5em;
}

.search-btn {
  background-color: #E6DE8A;
}

.prev-cities {
  background-color: var(--light-gray);
}

.bg-green {
  background-color: green;
  border-radius: 10px;
  padding: 7px;
}

.bg-yellow {
  background-color: yellow;
  color: black;
  border-radius: 10px;
  padding: 7px;
}

.bg-orange {
  background-color: orange;
  border-radius: 10px;
  padding: 7px;
}

.bg-red {
  background-color: red;
  border-radius: 10px;
  padding: 7px;
}

.bg-purple {
  background-color: purple;
  border-radius: 10px;
  padding: 7px;
}